<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOMO Prueba tecnica backend</title>
</head>
<body>
    <h1>DOMO Prueba Técnica</h1>
    {{{body}}}
</body>
</html>